.reminder {
    background-color: #FFD185;
    width: 320px;
    height: 350px;
    padding-left: 37px;
    overflow: hidden;
    padding-top: 68px;
    box-sizing: border-box;
    position: absolute;

    i.fa-plus {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 40px;
    }

    span {
        font-size: 28px;
        text-transform: capitalize;
        font-weight: 700;
    }

    p {
        font-size: 20px;
        font-weight: 700;
    }
}